<div class="mx-3">
  <button mat-raised-button color="warn" class="my-3" routerLink="/add">+Add</button>

  <table mat-table [dataSource]="videos" class="mat-elevation-z8">
    
    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="title"> Title </th>
      <td mat-cell *matCellDef="let video" class="content"> {{video.title}} </td>
    </ng-container>
    
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="title">Description </th>
      <td mat-cell *matCellDef="let video" class="content"> {{video.description}} </td>
    </ng-container>
    
    <!-- Source Column -->
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef class="title">Video </th>
      <td mat-cell *matCellDef="let video" class="content" > <a href="{{video.source}}" target="_blank"><i class="material-icons" >videocam</i></a></td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="title">Actions </th>
      <td mat-cell *matCellDef="let video" class="content"><i class="pi pi-pencil icon" style="background-color:green" routerLink="/modif/{{video._id}}"></i> <i class="pi pi-trash icon" style="background-color:red" (click)="delete(video._id)"></i> </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
